<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Logs</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            background-color: #121212;
            color: #ffffff;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    </style>
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">Sastimha</div>
        <div class="nav-toggle" onclick="toggleMenu()">☰</div>
        <ul class="nav-links">
            <li><a href="/waiting_clients">Waiting Clients</a></li>
            <li><a href="/processing_clients">Processing Clients</a></li>
            <li><a href="/done_clients">Done Clients</a></li>
            <li><a href="/visitor_logs">Visitor Logs</a></li>
        </ul>
        <a href="/logoutx" class="logout">Logout</a>
    </nav>
    <br><br>
    <div class="log-count-c">
        <h1>Visitor Logs</h1>
        <div class="log-count">{{ total_logs }}</div>
    </div>
    <div class="logs-container">
        <!-- Log Cards -->
        {% for log in logs %}
        <div class="log-card">
            <div class="log-header">
                <span>IP Address: {{ log['ip_address'] }}</span>
                <span>Visit Time: {{ log['visit_time'] }}</span>
            </div>
            <div class="log-body">
                <p>User Agent: {{ log['user_agent'] }}</p>
            </div>
            <div class="log-footer">
                <span>Referrer:</span>
                <a href="{{ log['referer'] }}" target="_blank">{{ log['referer'] }}</a>
            </div>
        </div>
        {% endfor %}
        </div>
        <script>
            function toggleMenu() {
                const navLinks = document.querySelector('.nav-links');
                navLinks.classList.toggle('active'); // Toggle the "active" class
            }
        </script>
</body>

</html>